@use "sass:color";

$accent-color: #0056b3;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2em 0;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 420px;
  height: 520px;
  margin: 1em;
  perspective: 1500px;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
}

.more {
  display: none;

  &:checked ~ .content {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;

  .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
  }
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
    background: linear-gradient(
      40deg,
      rgba(0, 86, 179, 0.85),
      rgba(0, 123, 255, 0.6)
    );
  }
  .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }

  h2 {
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }

  .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    i {
      margin: 0 1px;
    }
  }
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid rgb(240, 240, 240);
  .inner {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
    justify-items: center;
  }

  .specs {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.8em 1.5em;
    width: 100%;
    padding: 0.5em 0;
  }

  .info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $accent-color;
    padding: 0.5em;

    span {
      font-size: 2em;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0.1em;
    }
    i {
      &:before {
        background: linear-gradient(40deg, $accent-color, rgb(67, 138, 243));

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
      font-size: 1.5em;
      margin-bottom: 0.1em;
    }
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.2em;
      span {
        display: block;
        font-size: 0.75em;
        font-weight: 600;
        white-space: nowrap;
        line-height: 1.2;
      }
    }
  }

  .description {
    grid-row: 3;
    grid-column: 1/-1;
    font-size: 0.85em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.5em;
    color: $accent-color;
    padding: 0.5em 0.8em 0.5em 0;
    margin-top: 0.3em;
  }

  .location,
  .price {
    font-weight: 600;
    color: $accent-color;
    grid-row: 1;
    font-size: 0.86em;
  }

  .location {
    grid-column: 1;
    justify-self: left;
  }

  .price {
    grid-column: 2;
    justify-self: right;
  }

  .button {
    grid-row: 4;
    grid-column: 1/-1;
    justify-self: center;
  }
}

.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: $accent-color;
  }

  &.return {
    line-height: 3em;
    color: $accent-color;
    border-color: $accent-color;
    text-shadow: none;
    &:hover {
      background-color: $accent-color;
      color: #fff;
      box-shadow: none;
    }
  }
}
